* {
    color: #f8f8f2;
    background-color: #282a36;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #282a36;
}

.avatar {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 2px solid #6272a4;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

hr {
    border-top: 1px solid #6272a4;
}

a, a:hover {
    color: #8be9fd;
}
